/*.active{
  background-color: #00563b;
}*/
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo p {
  color: #00563b;
  font-size: 32px;
  
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color:#00563b;
  font-size: 20px;
  font-weight: 500;
}




.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  align-items: center; 
}

.nav-menu li a {
  font-weight: bold;
  font-size: 15px;
  display: block;
  text-decoration: none;
  color: #00563b;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height:3px;
  border-radius: 10px;
  background: #00563b;
}


.login button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid white;
  border-radius: 75px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background: #00563b;
  cursor: pointer;

}

.login button:hover {
  background: green;
}

.login button:active {
  background: white;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #00563b;
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open div:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}




