.popup-pre {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .popup-inner-pre {
    position: relative;
    padding: 32px;
    width: 40%;
    height: 50%;
    background-color: white;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 10px;
  }
  
  .popup-inner-pre .close-btn-pre {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00563B;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .popup-inner-pre .close-btn-pre:before, .popup-inner-pre .close-btn-pre:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: white;
  }
  
  .popup-inner-pre .close-btn-pre:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .popup-inner-pre .close-btn-pre:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  
  .loading-spinner {
    border: 8px solid white;
    border-top: 8px solid #00563B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


